@media (max-width: 600px) {
    .category {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .subcategory {
        flex: 1 1 100%;
        max-width: 100%;
    }

    header input {
        width: 100%;
    }

    .review {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
